@import "./colors";
@import "./layouts";

@font-face {
    font-family: "Lora";
    src: url("fonts/Lora.ttf");
}

:global {
    * {
        padding: 0rem;
        border: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: 0rem;

        font-family: "Lora";
    }

    html {
        font-size: 1em;
    }
}
