$header-1: clamp(2.5rem, 1vh, 6rem);
$header-2: clamp(2rem, 1vh, 4.5rem);
$header-3: clamp(1.5rem, 1vh, 3rem);
$header-4: clamp(1rem, 1vh, 2rem);
$header-5: clamp(0.75rem, 1vh, 1.5rem);
$header-6: clamp(0.5rem, 1vh, 1rem); //11px

$paragraph: 1.125rem; //18px

$navbar-link: 1rem;
